/* Smaller font size for topic subject (.fancy-subject) */
$topic-subject-font-size: 0.6em;

/* Adjust font size */
.subject-wrapper h1 .fancy-subject {
    font-size: $topic-subject-font-size !important;
}
.subject-wrapper h1 {
    line-height: $topic-subject-font-size !important;
}
