/* Smaller font size for topic title (.fancy-title) */
$topic-title-font-size: 0.6em;

/* Adjust font size */
.title-wrapper h1 .fancy-title {
    font-size: $topic-title-font-size !important;
}
.title-wrapper h1 {
    line-height: $topic-title-font-size !important;
}
