/**
 * Bugfixes
**/


/* Fix DMT#7: Remove size limit from topic status icon */
.topic-statuses i.d-icon {
    height: unset !important;
    width: unset !important;
}

/* Fix DMT#8: "Reorder Categories" dialog slightly off */
.modal .modal-body.full-height-modal.reorder-categories {
    max-height: calc(100vh - 150px) !important;
}

/* Fix DMT#9: "Save Edit" / "Cancel" buttons slightly off when editing posts */
#reply-control .submit-panel {
    display: initial !important;
}

/* Fix DMT#15: Checkboxes slightly off */
.contents span.chcklst-box::before {
    display: inline-flex;
    margin-right: 0.1rem;
    margin-bottom: 0.1rem;
}

/* Fix DMT#16: Odd margin attribute with user card */
#user-card .bio, #group-card .bio {
    margin-top: unset !important;
}
