/* Use vanilla font sizes */
body {
    font-size: unset;
}

/* Larger _narrow_ topic items */
.topic-list .link-bottom-line {
    margin-top: 0.4em;
}

/* Larger _verbose_ topic items */
.topic-list-item,.latest-topic-list-item .main-link {
    max-width: 85%;
}
.topic-list-item,.latest-topic-list-item .title {
    font-size: initial !important;
}

/* Make category item more prominent */
.category-list {
    /* Vanilla font sizes for category title and description */
    .category-text-title, .category-description, .category-name {
        font-size: initial !important;
    }
    /* Some spacing after category description */
    .category-description {
        margin-bottom: 8px;
    }
}

/* Larger avatar images */
.topic-poster {
    min-width: 60px !important;
}
.topic-poster img.avatar {
    height: unset !important;
    width: unset !important;
}

/* Increase topic post item width */
/* Has to take care of the timeline control */
.topic-post {
    @media (min-width: 1170px) {
        .topic-body {
            width: 70%;
        }
    }
    @media (min-width: 1270px) {
        .topic-body {
            width: 80%;
        }
    }
}

/* Reset font size in badge wrapper on topic page */
.title-wrapper .badge-wrapper {
    font-size: unset !important;
}

/* Reset font size for text elements of select kit widgets */
.select-kit {
    .select-kit-body, .texts > span {
        font-size: unset !important;
    }
}

/* Adjust alignment of topic titles in search results */
.search-results .search-link {
    vertical-align: top;
}

/* Increase spacing between topic content and topic menu area at bottom */
.topic-body .post-menu-area {
    margin-top: 1em;
}


/**
 * Bugfixes
**/

/* Fix DMT#7: Remove size limit from topic status icon */
.topic-statuses i.d-icon {
    height: unset !important;
    width: unset !important;
}

/* Fix DMT#8: "Reorder Categories" dialog slightly off */
.modal .modal-body.full-height-modal.reorder-categories {
    max-height: calc(100vh - 150px) !important;
}

/* Fix DMT#9: "Save Edit" / "Cancel" buttons slightly off when editing posts */
#reply-control .submit-panel {
    display: initial !important;
}

/* Fix DMT#15: Checkboxes slightly off */
.contents span.chcklst-box::before {
    display: inline-flex;
    margin-right: 0.1rem;
    margin-bottom: 0.1rem;
}

/* Fix DMT#16: Odd margin attribute with user card */
#user-card .bio, #group-card .bio {
    margin-top: unset !important;
}
