/* Use vanilla font sizes */
body {
    font-size: unset;
}

/* Don't limit topic status icon size */
.topic-statuses i.d-icon {
    height: unset !important;
    width: unset !important;
}

/* Larger _narrow_ topic items */
.topic-list .link-bottom-line {
    margin-top: 0.4em;
}

/* Larger _verbose_ topic items */
.topic-list-item,.latest-topic-list-item .main-link {
    max-width: 85%;
}
.topic-list-item,.latest-topic-list-item .title {
    font-size: larger;
}

/* Larger category titles */
.category-list .category-name {
    font-size: larger;
}

/* Larger avatar images */
.topic-poster {
    min-width: 60px !important;
}
.topic-poster img.avatar {
    height: unset !important;
    width: unset !important;
}
